@*By Victor Zacchi
    DIT: D16128783
    Masters in Advanced Software Development
    Year: 1
    date: 04/12/2017*@  

@model LibraryAppDIT.Models.Book
@{
    ViewBag.Title = "@Model.Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


<br />
<p>
    @Html.ActionLink("Edit Book", "Update", "Books", new { id = Model.ISBN }, new { @class = "btn btn-primary" })
</p>

<br />
<br />
<ul>
    <li>Title: @Model.Title </li>
    <li>Genre: @Model.GenreType</li>
    <li>Author: @Model.Author </li>
    <li>Published Year: @Model.publishedYear
</ul>